#Belajar Pyspark - DataFrame Union

artikel dapat dibaca di www.datalearns247.com

##Mempersiapkan Environment

In [1]:
%pip install pyspark #jalankan untuk google colab

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=032e213fa920d7f7bc30e6e7d7e8f639b421436a4351e7fc70c150afad907ec0
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

Import package

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

Create session

In [3]:
spark = SparkSession.builder.appName("Belajar PySpark - Pivot dan Unpivot").getOrCreate()

Mempersiapkan data

In [38]:
data1 = [['Agus','Fisika',150],
	      ['Dina','Fisika',180]]

data2 = [['Budi','Biologi',170],
	      ['Dedi','Biologi',185],
        ['Ana','Biologi',170]]

kolom = ["nama","jurusan","nilai"]

df1 = spark.createDataFrame(data1,kolom)
df2 = spark.createDataFrame(data2,kolom)

df1.show()
df1.printSchema()
df2.show()
df2.printSchema()

+----+-------+-----+
|nama|jurusan|nilai|
+----+-------+-----+
|Agus| Fisika|  150|
|Dina| Fisika|  180|
+----+-------+-----+

root
 |-- nama: string (nullable = true)
 |-- jurusan: string (nullable = true)
 |-- nilai: long (nullable = true)

+----+-------+-----+
|nama|jurusan|nilai|
+----+-------+-----+
|Budi|Biologi|  170|
|Dedi|Biologi|  185|
| Ana|Biologi|  170|
+----+-------+-----+

root
 |-- nama: string (nullable = true)
 |-- jurusan: string (nullable = true)
 |-- nilai: long (nullable = true)

##Union dua dataset

In [21]:
df1.union(df2).show()

+----+-------+-----+
|nama|jurusan|nilai|
+----+-------+-----+
|Agus| Fisika|  150|
|Dina| Fisika|  180|
|Bayu| Fisika|  160|
|Budi|Biologi|  170|
|Dedi|Biologi|  185|
| Ana|Biologi|  170|
+----+-------+-----+

In [51]:
data3 = [['Citra',170,180],
         ['Doni',175,170]]
kolom3 = ["nama","nilai1","nilai2"]
df3 = spark.createDataFrame(data3,kolom3)

data4 = [['Agus','Fisika',150],
	      ['Dina','Fisika',180]]

kolom4 = ["nama","jurusan","nilai"]
df4 = spark.createDataFrame(data4,kolom4)

In [52]:
df3.show()
df3.printSchema()
df4.show()
df4.printSchema()

+-----+------+------+
| nama|nilai1|nilai2|
+-----+------+------+
|Citra|   170|   180|
| Doni|   175|   170|
+-----+------+------+

root
 |-- nama: string (nullable = true)
 |-- nilai1: long (nullable = true)
 |-- nilai2: long (nullable = true)

+----+-------+-----+
|nama|jurusan|nilai|
+----+-------+-----+
|Agus| Fisika|  150|
|Dina| Fisika|  180|
+----+-------+-----+

root
 |-- nama: string (nullable = true)
 |-- jurusan: string (nullable = true)
 |-- nilai: long (nullable = true)

In [54]:
df = df4.union(df3)
df.show()
df.printSchema()

+-----+-------+-----+
| nama|jurusan|nilai|
+-----+-------+-----+
| Agus| Fisika|  150|
| Dina| Fisika|  180|
|Citra|    170|  180|
| Doni|    175|  170|
+-----+-------+-----+

root
 |-- nama: string (nullable = true)
 |-- jurusan: string (nullable = true)
 |-- nilai: long (nullable = true)

##Union dataset dengan urutan kolom berbeda

In [39]:
data1 = [['Agus','Fisika',150],
	      ['Dina','Fisika',180]]

kolom1 = ["nama","jurusan","nilai"]

df1 = spark.createDataFrame(data1,kolom1)

df1.show()
df1.printSchema()

data3 = [['Citra',170,'Fisika'],
         ['Doni',175,'Biologi']]

kolom3 = ["nama","nilai","jurusan"]

df3 = spark.createDataFrame(data3,kolom3)

df3.show()
df3.printSchema()

+----+-------+-----+
|nama|jurusan|nilai|
+----+-------+-----+
|Agus| Fisika|  150|
|Dina| Fisika|  180|
+----+-------+-----+

root
 |-- nama: string (nullable = true)
 |-- jurusan: string (nullable = true)
 |-- nilai: long (nullable = true)

+-----+-----+-------+
| nama|nilai|jurusan|
+-----+-----+-------+
|Citra|  170| Fisika|
| Doni|  175|Biologi|
+-----+-----+-------+

root
 |-- nama: string (nullable = true)
 |-- nilai: long (nullable = true)
 |-- jurusan: string (nullable = true)

In [28]:
df1.unionByName(df3).show()

+-----+-------+-----+
| nama|jurusan|nilai|
+-----+-------+-----+
| Agus| Fisika|  150|
| Dina| Fisika|  180|
|Citra| Fisika|  170|
| Doni|Biologi|  175|
+-----+-------+-----+

##Mengatasi Duplikasi

In [35]:
data4 = [['Agus','Fisika',150],
	      ['Dina','Fisika',180]]

data5 = [['Dina','Fisika',180],
	      ['Dedi','Biologi',185]]

kolom = ["nama","jurusan","nilai"]

df4 = spark.createDataFrame(data4,kolom)
df5 = spark.createDataFrame(data5,kolom)

df4.show()
df5.show()

+----+-------+-----+
|nama|jurusan|nilai|
+----+-------+-----+
|Agus| Fisika|  150|
|Dina| Fisika|  180|
+----+-------+-----+

+----+-------+-----+
|nama|jurusan|nilai|
+----+-------+-----+
|Dina| Fisika|  180|
|Dedi|Biologi|  185|
+----+-------+-----+

In [36]:
df4.union(df5).show()

+----+-------+-----+
|nama|jurusan|nilai|
+----+-------+-----+
|Agus| Fisika|  150|
|Dina| Fisika|  180|
|Dina| Fisika|  180|
|Dedi|Biologi|  185|
+----+-------+-----+

In [37]:
df4.union(df5).distinct().show()

+----+-------+-----+
|nama|jurusan|nilai|
+----+-------+-----+
|Agus| Fisika|  150|
|Dina| Fisika|  180|
|Dedi|Biologi|  185|
+----+-------+-----+