#Belajar Pyspark - Mengurutkan DataFrame dengan `sort()` dan `groupBy()`

artikel dapat dibaca di www.datalearns247.com

##Mempersiapkan Environment

In [1]:
%pip install pyspark #jalankan untuk google colab

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 1.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=9e586a67219d97866d60c0b299b9355340bf8ba8f3bcc3000bb7b1290968f90b
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [3]:
spark = SparkSession.builder.appName("Belajar PySpark - Grouping dan Agregasi").getOrCreate()

In [21]:
data = [['Agus','Fisika',1,130,100],['Windy','Fisika',3,200,150],
        ['Budi','Biologi',1,200,150],['Dina','Fisika',3,150,200],
        ['Bayu','Fisika',1,150,200],['Dedi','Biologi',3,50,150]]

kolom = ["nama","jurusan","semester","nilai1","nilai2"]

df = spark.createDataFrame(data,kolom)

df.show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Agus| Fisika|       1|   130|   100|
|Windy| Fisika|       3|   200|   150|
| Budi|Biologi|       1|   200|   150|
| Dina| Fisika|       3|   150|   200|
| Bayu| Fisika|       1|   150|   200|
| Dedi|Biologi|       3|    50|   150|
+-----+-------+--------+------+------+

##Mengurutkan satu kolom

In [5]:
df.sort("jurusan").show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Budi|Biologi|       1|   200|   150|
| Dedi|Biologi|       3|    50|   150|
| Agus| Fisika|       1|   130|   100|
| Dina| Fisika|       3|   150|   200|
|Windy| Fisika|       3|   200|   150|
| Bayu| Fisika|       1|   150|   200|
+-----+-------+--------+------+------+

In [6]:
df.sort(F.col("jurusan")).show()
df.sort(df.jurusan).show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Dedi|Biologi|       3|    50|   150|
| Budi|Biologi|       1|   200|   150|
| Dina| Fisika|       3|   150|   200|
| Agus| Fisika|       1|   130|   100|
| Bayu| Fisika|       1|   150|   200|
|Windy| Fisika|       3|   200|   150|
+-----+-------+--------+------+------+

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Budi|Biologi|       1|   200|   150|
| Dedi|Biologi|       3|    50|   150|
| Agus| Fisika|       1|   130|   100|
| Dina| Fisika|       3|   150|   200|
|Windy| Fisika|       3|   200|   150|
| Bayu| Fisika|       1|   150|   200|
+-----+-------+--------+------+------+

In [7]:
df.orderBy("jurusan").show()
df.orderBy(F.col("jurusan")).show()
df.orderBy(df.jurusan).show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Dedi|Biologi|       3|    50|   150|
| Budi|Biologi|       1|   200|   150|
| Dina| Fisika|       3|   150|   200|
| Agus| Fisika|       1|   130|   100|
| Bayu| Fisika|       1|   150|   200|
|Windy| Fisika|       3|   200|   150|
+-----+-------+--------+------+------+

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Budi|Biologi|       1|   200|   150|
| Dedi|Biologi|       3|    50|   150|
| Agus| Fisika|       1|   130|   100|
| Dina| Fisika|       3|   150|   200|
|Windy| Fisika|       3|   200|   150|
| Bayu| Fisika|       1|   150|   200|
+-----+-------+--------+------+------+

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Budi|Biologi|       1|   200|   150|
| Dedi|Biologi|       3|    50|   150|
| Agus| Fisika|       1|   130|   100|
| Dina| Fisika|       3|   150|   200|
|Windy| Fisika|       3|   200|   150|
| Bayu| Fisika|       1|   150|   200|
+-----+-------+--------+------+------+

##Mengurutkan lebih dari 1 kolom

In [8]:
df.sort("semester", "jurusan").show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Budi|Biologi|       1|   200|   150|
| Bayu| Fisika|       1|   150|   200|
| Agus| Fisika|       1|   130|   100|
| Dedi|Biologi|       3|    50|   150|
|Windy| Fisika|       3|   200|   150|
| Dina| Fisika|       3|   150|   200|
+-----+-------+--------+------+------+

In [9]:
df.sort(df.semester, "jurusan").show()
df.sort(df.semester, df.jurusan).show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Budi|Biologi|       1|   200|   150|
| Bayu| Fisika|       1|   150|   200|
| Agus| Fisika|       1|   130|   100|
| Dedi|Biologi|       3|    50|   150|
|Windy| Fisika|       3|   200|   150|
| Dina| Fisika|       3|   150|   200|
+-----+-------+--------+------+------+

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Budi|Biologi|       1|   200|   150|
| Bayu| Fisika|       1|   150|   200|
| Agus| Fisika|       1|   130|   100|
| Dedi|Biologi|       3|    50|   150|
|Windy| Fisika|       3|   200|   150|
| Dina| Fisika|       3|   150|   200|
+-----+-------+--------+------+------+

In [10]:
df.sort(["semester", "jurusan"]).show()
df.sort([df.semester, df.jurusan]).show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Budi|Biologi|       1|   200|   150|
| Bayu| Fisika|       1|   150|   200|
| Agus| Fisika|       1|   130|   100|
| Dedi|Biologi|       3|    50|   150|
|Windy| Fisika|       3|   200|   150|
| Dina| Fisika|       3|   150|   200|
+-----+-------+--------+------+------+

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Budi|Biologi|       1|   200|   150|
| Bayu| Fisika|       1|   150|   200|
| Agus| Fisika|       1|   130|   100|
| Dedi|Biologi|       3|    50|   150|
|Windy| Fisika|       3|   200|   150|
| Dina| Fisika|       3|   150|   200|
+-----+-------+--------+------+------+

##Mengurutkan secara ascending

###Menggunakan parameter `ascending` dengan 1 nilai

In [11]:
df.sort("semester", asc=False).show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Bayu| Fisika|       1|   150|   200|
| Agus| Fisika|       1|   130|   100|
| Budi|Biologi|       1|   200|   150|
| Dina| Fisika|       3|   150|   200|
|Windy| Fisika|       3|   200|   150|
| Dedi|Biologi|       3|    50|   150|
+-----+-------+--------+------+------+

In [12]:
df.sort(["semester", "jurusan"], ascending=False).show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Dina| Fisika|       3|   150|   200|
|Windy| Fisika|       3|   200|   150|
| Dedi|Biologi|       3|    50|   150|
| Agus| Fisika|       1|   130|   100|
| Bayu| Fisika|       1|   150|   200|
| Budi|Biologi|       1|   200|   150|
+-----+-------+--------+------+------+

In [13]:
df.sort("semester", "jurusan", ascending=[True, False]).show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Agus| Fisika|       1|   130|   100|
| Bayu| Fisika|       1|   150|   200|
| Budi|Biologi|       1|   200|   150|
| Dina| Fisika|       3|   150|   200|
|Windy| Fisika|       3|   200|   150|
| Dedi|Biologi|       3|    50|   150|
+-----+-------+--------+------+------+

###Menggunakan fungsi

In [14]:
df.sort(F.asc("semester"), F.desc("jurusan")).show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Agus| Fisika|       1|   130|   100|
| Bayu| Fisika|       1|   150|   200|
| Budi|Biologi|       1|   200|   150|
| Dina| Fisika|       3|   150|   200|
|Windy| Fisika|       3|   200|   150|
| Dedi|Biologi|       3|    50|   150|
+-----+-------+--------+------+------+

In [15]:
df.sort(F.col("semester").asc(), F.col("jurusan").desc()).show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Bayu| Fisika|       1|   150|   200|
| Agus| Fisika|       1|   130|   100|
| Budi|Biologi|       1|   200|   150|
| Dina| Fisika|       3|   150|   200|
|Windy| Fisika|       3|   200|   150|
| Dedi|Biologi|       3|    50|   150|
+-----+-------+--------+------+------+

##Mengurutkan secara descending

In [16]:
df.sort(F.desc("semester"), F.desc("jurusan")).show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Dina| Fisika|       3|   150|   200|
|Windy| Fisika|       3|   200|   150|
| Dedi|Biologi|       3|    50|   150|
| Agus| Fisika|       1|   130|   100|
| Bayu| Fisika|       1|   150|   200|
| Budi|Biologi|       1|   200|   150|
+-----+-------+--------+------+------+

##Menangani null value

In [26]:
data2 = [['Agus','Fisika',1,130,100],['Windy','Biologi',3,200,150],
        ['Budi',None,1,200,150]]

kolom = ["nama","jurusan","semester","nilai1","nilai2"]

df2 = spark.createDataFrame(data2,kolom)

df2.show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Agus| Fisika|       1|   130|   100|
|Windy|Biologi|       3|   200|   150|
| Budi|   NULL|       1|   200|   150|
+-----+-------+--------+------+------+

In [28]:
df2.sort(F.desc_nulls_first("jurusan")).show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Budi|   NULL|       1|   200|   150|
| Agus| Fisika|       1|   130|   100|
|Windy|Biologi|       3|   200|   150|
+-----+-------+--------+------+------+

In [30]:
df2.sort(F.desc_nulls_last("jurusan")).show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Agus| Fisika|       1|   130|   100|
|Windy|Biologi|       3|   200|   150|
| Budi|   NULL|       1|   200|   150|
+-----+-------+--------+------+------+

##Mengurutkan berdasarkan hasil penjumlahan dua kolom

In [17]:
df.sort(F.col("nilai1") + F.col("nilai2")).show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Dedi|Biologi|       3|    50|   150|
| Agus| Fisika|       1|   130|   100|
| Dina| Fisika|       3|   150|   200|
|Windy| Fisika|       3|   200|   150|
| Bayu| Fisika|       1|   150|   200|
| Budi|Biologi|       1|   200|   150|
+-----+-------+--------+------+------+

In [18]:
df.sort((F.col("nilai1") + F.col("nilai2")).desc()).show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
| Dina| Fisika|       3|   150|   200|
|Windy| Fisika|       3|   200|   150|
| Bayu| Fisika|       1|   150|   200|
| Budi|Biologi|       1|   200|   150|
| Agus| Fisika|       1|   130|   100|
| Dedi|Biologi|       3|    50|   150|
+-----+-------+--------+------+------+

##Mengurutkan dengan SQL Statement

###Membuat temporary table

In [19]:
df.createOrReplaceTempView("mahasiswa")

###Menjalankan SQL Statement

In [20]:
spark.sql("SELECT * FROM mahasiswa ORDER BY semester desc, jurusan desc").show()

+-----+-------+--------+------+------+
| nama|jurusan|semester|nilai1|nilai2|
+-----+-------+--------+------+------+
|Windy| Fisika|       3|   200|   150|
| Dina| Fisika|       3|   150|   200|
| Dedi|Biologi|       3|    50|   150|
| Agus| Fisika|       1|   130|   100|
| Bayu| Fisika|       1|   150|   200|
| Budi|Biologi|       1|   200|   150|
+-----+-------+--------+------+------+