In [1]:
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=8db1aecddb2496bef804c6f753a6ee5b095b992c177bc78ee6bc5018d0b205bd
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

Import packages yang diperlukan

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

Create spark session

In [3]:
spark = SparkSession.builder.appName('Belajar PySpark - Filter').getOrCreate()

Buat dataframe

In [4]:
data = [['Agus','Fisika',100],['Windy','Fisika',200],
        ['Budi','Biologi',200],['Dina','Fisika',150],
        ['Bayu','Fisika',50],['Dedi','Biologi',50]]

kolom = ['nama','jurusan','nilai']

df = spark.createDataFrame(data,kolom)

df.show()

+-----+-------+-----+
| nama|jurusan|nilai|
+-----+-------+-----+
| Agus| Fisika|  100|
|Windy| Fisika|  200|
| Budi|Biologi|  200|
| Dina| Fisika|  150|
| Bayu| Fisika|   50|
| Dedi|Biologi|   50|
+-----+-------+-----+

##Memilih kolom dengan fungsi `select()`

In [20]:
df.select(['nama', 'nilai']).show()

+-----+-----+
| nama|nilai|
+-----+-----+
| Agus|  100|
|Windy|  200|
| Budi|  200|
| Dina|  150|
| Bayu|   50|
| Dedi|   50|
+-----+-----+

##Menggunakan fungsi filter()

###Filter dengan satu kondisi

In [5]:
df.filter(df.nilai > 150).show()

+-----+-------+-----+
| nama|jurusan|nilai|
+-----+-------+-----+
|Windy| Fisika|  200|
| Budi|Biologi|  200|
+-----+-------+-----+

###Mengakses kolom dengan `df[“nama kolom”]` atau fungsi `col()`

In [6]:
kolom_1 = ['nama','jurusan','nilai total']
df_1 = spark.createDataFrame(data,kolom_1)

df_1.filter(df_1['nilai total'] > 150).show()

+-----+-------+-----------+
| nama|jurusan|nilai total|
+-----+-------+-----------+
|Windy| Fisika|        200|
| Budi|Biologi|        200|
+-----+-------+-----------+

In [7]:
df_1[['nama','nilai total']].show()

+-----+-----------+
| nama|nilai total|
+-----+-----------+
| Agus|        100|
|Windy|        200|
| Budi|        200|
| Dina|        150|
| Bayu|         50|
| Dedi|         50|
+-----+-----------+

In [8]:
from pyspark.sql.functions import col

df_1.filter(col('nilai total') > 150).show()

+-----+-------+-----------+
| nama|jurusan|nilai total|
+-----+-------+-----------+
|Windy| Fisika|        200|
| Budi|Biologi|        200|
+-----+-------+-----------+

###Filter dengan beberapa kondisi

In [9]:
df.filter((df.nilai > 150) &
          (df.jurusan == 'Fisika')).show()

+-----+-------+-----+
| nama|jurusan|nilai|
+-----+-------+-----+
|Windy| Fisika|  200|
+-----+-------+-----+

###Filter dengan menggunakan list/`isin()`

In [10]:
df.filter(df.nilai.isin([50,150])).show()

+----+-------+-----+
|nama|jurusan|nilai|
+----+-------+-----+
|Dina| Fisika|  150|
|Bayu| Fisika|   50|
|Dedi|Biologi|   50|
+----+-------+-----+

In [11]:
df.filter(~df.nilai.isin([50,150])).show()

+-----+-------+-----+
| nama|jurusan|nilai|
+-----+-------+-----+
| Agus| Fisika|  100|
|Windy| Fisika|  200|
| Budi|Biologi|  200|
+-----+-------+-----+

###Filter dengan komparasi string

In [12]:
df.filter(df.nama.startswith('D')).show()

+----+-------+-----+
|nama|jurusan|nilai|
+----+-------+-----+
|Dina| Fisika|  150|
|Dedi|Biologi|   50|
+----+-------+-----+

In [13]:
df.filter(df.nama.endswith('i')).show()

+----+-------+-----+
|nama|jurusan|nilai|
+----+-------+-----+
|Budi|Biologi|  200|
|Dedi|Biologi|   50|
+----+-------+-----+

In [14]:
df.filter(df.nama.contains('in')).show()

+-----+-------+-----+
| nama|jurusan|nilai|
+-----+-------+-----+
|Windy| Fisika|  200|
| Dina| Fisika|  150|
+-----+-------+-----+

###Filter dengan `like()`

In [15]:
df.filter(df.nama.like('%in%')).show()

+-----+-------+-----+
| nama|jurusan|nilai|
+-----+-------+-----+
|Windy| Fisika|  200|
| Dina| Fisika|  150|
+-----+-------+-----+

##Menggunakan fungsi where()

In [16]:
df.where(df.nilai > 150).show()

+-----+-------+-----+
| nama|jurusan|nilai|
+-----+-------+-----+
|Windy| Fisika|  200|
| Budi|Biologi|  200|
+-----+-------+-----+

In [17]:
df.where((df.nilai > 150) &
          (df.jurusan == 'Fisika')).show()

+-----+-------+-----+
| nama|jurusan|nilai|
+-----+-------+-----+
|Windy| Fisika|  200|
+-----+-------+-----+

In [18]:
df.where(df.nama.contains('in')).show()

+-----+-------+-----+
| nama|jurusan|nilai|
+-----+-------+-----+
|Windy| Fisika|  200|
| Dina| Fisika|  150|
+-----+-------+-----+